<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presea STEM</title>
    <link rel="stylesheet" href="./base.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="logo">
            <h1>Presea STEM</h1>
        </div>
        <div class="logout">
            <img src="../images/logout.png" alt="Salir" style="width: 35px" <a href="#">
        </div>
    </div>
    <div class="container">
        <div class="menu">
            <ul class="menu-list">
                <li><a href="./main.html">Gestion de Usuarios</a></li>
                <li><a href="./rubric.html">Rubricas</a></li>
                <li><a href="./summons.html">Convocatorias</a></li>
                <li><a href="./reports.html">Reportes</a></li>
                <li><a href="./admin.html">Administracion</a></li>
                <li><a href="./maintenance.html">Mantenimiento</a><ul></ul></li>
        </div>
    </div>
</body>

</html>